
main {
  /* This hides the content. Show it with JS when the page loads */
  display: none;
}

header {
  margin-top: 10%;
}
.centered{
  text-align: center;
}
.uccs-logo {
  width: 16em;
  margin: 0 auto;
}

.nsls-logo {
  width: 12em;
  margin: 0 auto;
}


h3.cursive {
  margin-top: 0;
}
